body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

#cube {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(-30deg);
  animation: rotate 5s infinite linear;
  cursor: pointer;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.8;
}


.face:nth-child(1) { /* Front */
  transform: translateZ(100px);
  background-color: grey;
}

.face:nth-child(2) { /* Back */
  transform: translateZ(-100px);
  background-color: grey;
}

.face:nth-child(3) { /* Top */
  transform: rotateX(90deg) translateZ(100px);
  background-color: grey;
}

.face:nth-child(4) { /* Bottom */
  transform: rotateX(-90deg) translateZ(100px);
  background-color: grey;
}

.face:nth-child(5) { /* Left */
  transform: rotateY(-90deg) translateZ(100px);
  background: grey;
}

.face:nth-child(6) { /* Right */
  transform: rotateY(90deg) translateZ(100px);
  background: grey;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(90deg) rotateY(45deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(90deg);
  }
  75% {
    transform: rotateX(270deg) rotateY(135deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(180deg);
  }
}

.points {
  color: #fff;
  font-size: 35px;
  position: relative;
  bottom: 25%;
  z-index: 100;
}

.clickValue {
  color: #fff;
  font-size: 1.5vw;
  margin-top: 1%;
  position: relative;
      bottom: 25%;
  z-index: 100;
}

.newCube, .pointsButton, .twoMultiButton, .upgradesButton, .reset, .backButton, .oneFiveMultiButton, .changeLogButton {
  padding: 0.5% 1%;
  font-size: 1.5vw;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  position: absolute;
  z-index: 100;
}

.oneFiveMultiButton {
  position: relative;
    bottom: 45%;
}

.twoMultiButton {
  position: relative;
    bottom: 42%;
}

.newCube {
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ae97ff;
  color: black;
}

.backButton {
  position: absolute;
  top: 3%;
  left: 3%;
  background-color: #ff8585;
  color: black;
}

.changeLogButton {
  position: absolute;
  top: 9%;
  left: 1.25%;
  background-color: #009aae;
  color: black;
}

.pointsButton {
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ae97ff;
  color: black;
}

.upgradesButton {
  top: 3%;
  left: 2%;
  background-color: #ff8585;
  color: black;
}

.reset {
  top: 3%;
  right: 2%;
  background: red;
  color: white;
}

.cube {
  position: absolute;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(-30deg);
  animation: rotate 5s infinite linear;
  cursor: pointer;
}

.changeLog {
  color: white;
  font-size: 20px;
  position: relative;
    top: 25%;
}

.link {
  color: rgb(255, 255, 255);
  font-style: bold;
}

/* Apply glow to each face */
.cube .glow-divine {
  box-shadow: 0 0 50px 25px rgb(255, 217, 0), 0 0 75px 5px rgb(255, 217, 0);
}

/* Apply glow to each face */
.cube .glow-secret {
  box-shadow: 0 0 100px 50px rgb(255, 255, 255), 0 0 150px 10px rgba(255, 255, 255, 0.8);
}
